# Copier en ".env" si l'API ne tourne pas sur http://localhost:8000
VITE_API_BASE=http://localhost:8000
MAPBOX_TOKEN =pk.eyJ1IjoiamVmZmZsYWoiLCJhIjoiY21pNzl3ejZiMDdlcjJtczdpOGJhYXgxNCJ9.1O4WOkrM0_W9LrjJ-tqCkg
